
[Desktop Entry]
Version=1.0.0
Encoding=UTF-8
Name=ApMeFo
Comment=Create Application Menu Folders 
Exec=python /opt/ApMeFo/Main.py
Icon=application_apmefo
X-Icon-path=/usr/share/icons
X-Window-Icon=application_apmefo
Type=Application
X-Osso-Type=application/x-executable
StartupWMClass=Main.py
Name[en_GB]=ApMeFo.txt
